            {{> nav-bar}}

                  <div class="position-absolute top-50 start-50 translate-middle">

    <div class="flex md:items-center justify-center">
      <a href="/OrderTransaction" class="nav-link active">
        <div class="flex mt-4 ml-4 bg-gray-300 rounded mr-14 w-48 h-48 md:items-center justify-center">
            <span class="text-3xl font-medium">P.O.S</span>
        </div>
      </a>
      <a href="/prodinvitem" class="nav-link active">
        <div class="flex mt-4 ml-4 bg-gray-300 rounded mr-14 w-48 h-48 md:items-center justify-center">
            <span class="text-3xl font-medium">Inventory</span>
        </div>
      </a>
            <a href="/prodinvitem" class="nav-link active">
        <div class="flex mt-4 ml-4 bg-gray-300 rounded mr-14 w-48 h-48 md:items-center justify-center">
            <span class="text-3xl font-medium">Employee Profile</span>
        </div>
      </a>
      <a href="/attendance" class="nav-link active">
        <div class="flex mt-4 ml-4 bg-gray-300 rounded mr-14 w-48 h-48 md:items-center justify-center">
            <span class="text-3xl font-medium text-center">Attendance</span>
        </div>
      </a>
            <a href="/attendancerecord/{{this.emp_id}}" class="nav-link active">
        <div class="flex mt-4 ml-4 bg-gray-300 rounded mr-14 w-48 h-48 md:items-center justify-center">
            <span class="text-3xl font-medium text-center">Attendance Record</span>
        </div>
      </a>
    </div>
    </div>