
<div class="title">

<div class="content">
 
   <main class="flex md:items-center justify-center h-screen bg-gradient-to-r from-cyan-500 to-blue-500">
      <form action="/auth" method="post">
        <div class="bg-danger w-96 p-8 rounded shadow-sm block">
          <span class="flex md:items-center justify-center font-bold block text-light-700 text-2xl">
            Error, please login.
          </span>
          <div class="flex pt-6">
            <button type="button" class="bg-gray-700 w-full text-gray-100 py-2 rounded hover:bg-gray-500 transition-colors" onclick="window.location.href = '/'">Go to Login Page</button>
            </div>

        </div>
      </form>
    </main>


</div>

</div>

