<form class="row g-3 needs-validation" method="POST" action="/StockReturnPage" novalidate>


 <p class="text-uppercase fs-5 text-center fw-bold">Return Stock</p>
 <div class="bg-secondary p-2 text-dark bg-opacity-10 border border-2 rounded"> 
     <p class="text-start fw-semibold"></p>
<div class="container">
  <div class="row row-cols-2">
    <div class="col-3">
        <div class="form-floating">
        <select class="form-select" id="floatingSelectGrid" value="{{this.emp_id}}" name="emp_id">
            <option selected>Cancelled By:</option>
                {{#each this.admin_list}}
                    <option value="{{this.emp_id}}"> {{this.emp_firstname}}</option>
                {{/each}}      
                
        </select>
        </div>
    </div>
    <div class="col-3">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Quantity Cancelled" name="qty_cancelled">
            <label for="floatingInput">Quantity</label>
        </div>
     </div>

    <div class="col-6">
        <div class="form-floating">
        <select class="form-select" id="floatingSelectGrid" value="" name="reason">
            <option selected>Reason</option>
                    <option value="Damaged Item(s)">Damaged Item(s)</option> 
                    <option value="Invalid Item(s)">Invalid Item(s)</option>       
        </select>
        </div>
    </div>


     </div>
     </div>
 </div>

<p></p>

<div class="container">
  <div class="row row-cols-2">

    <div class="col-11">

    </div>
<div class="col col-lg-1">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</div>
</div>
</form>
